################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/CopilotIndices/0.2.1653.9816
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/DesignTimeBuild/.dtbcache.v2
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/bin/Debug/net8.0/ViveksHomoeoClinic.dll
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/bin/Debug/net8.0/ViveksHomoeoClinic.exe
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/bin/Debug/net8.0/ViveksHomoeoClinic.pdb
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ref/ViveksHomoeoClinic.dll
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/refint/ViveksHomoeoClinic.dll
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/staticwebassets/msbuild.build.ViveksHomoeoClinic.props
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.ViveksHomoeoClinic.props
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.ViveksHomoeoClinic.props
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/apphost.exe
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/staticwebassets.build.json
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.AssemblyInfo.cs
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.AssemblyInfoInputs.cache
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.assets.cache
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.csproj.AssemblyReference.cache
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.csproj.CoreCompileInputs.cache
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.csproj.FileListAbsolute.txt
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.dll
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.GeneratedMSBuildEditorConfig.editorconfig
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.genruntimeconfig.cache
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.pdb
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.sourcelink.json
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/project.assets.json
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/project.nuget.cache
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/ViveksHomoeoClinic.csproj.nuget.dgspec.json
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/ViveksHomoeoClinic.csproj.nuget.g.props
/.vs/Products/v17/.wsuo
/.vs/Products/v17/DocumentLayout.json
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/2a784b91-069f-41a7-a318-3404d53d25b4.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/454567c9-ad29-4fed-a0c1-b00b3c4d7bb6.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/b118f1c7-f4f0-4375-b613-2d882a8256e8.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/b4752d50-ea98-404a-ba8f-50b0a82689b2.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/e27ae1f1-6b7f-450b-8343-c0000b86359f.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/v17/.futdcache.v2
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/v17/.suo
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/v17/DocumentLayout.backup.json
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/v17/DocumentLayout.json
/DotNetBackend/ViveksHomoeoClinic/.vs/ProjectEvaluation/vivekshomoeoclinic.metadata.v9.bin
/DotNetBackend/ViveksHomoeoClinic/.vs/ProjectEvaluation/vivekshomoeoclinic.projects.v9.bin
/DotNetBackend/ViveksHomoeoClinic/.vs/ProjectEvaluation/vivekshomoeoclinic.strings.v9.bin
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/1bb0011a-64f9-40a6-bdb5-653e70bde628.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/1c1c6d46-0b88-4b66-ac37-ae9eb80c76ad.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/9e79b507-8a4a-4f5a-ae47-9ed5faa257d4.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/ac2e46b9-23af-4db4-8432-9a5bf6e3ec94.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/e8a702aa-4b4b-49c7-aacb-3cbcf35b6e35.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/DesignTimeBuild/.dtbcache.v2
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/bin/Debug/net8.0/ViveksHomoeoClinic.dll
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/bin/Debug/net8.0/ViveksHomoeoClinic.exe
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/bin/Debug/net8.0/ViveksHomoeoClinic.pdb
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/v17/.suo
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/v17/DocumentLayout.backup.json
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/v17/DocumentLayout.json
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ref/ViveksHomoeoClinic.dll
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/refint/ViveksHomoeoClinic.dll
