################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Products/v17/.wsuo
/.vs/Products/v17/DocumentLayout.json
/DotNetBackend/ViveksHomoeoClinic/.vs/ProjectEvaluation/vivekshomoeoclinic.metadata.v9.bin
/DotNetBackend/ViveksHomoeoClinic/.vs/ProjectEvaluation/vivekshomoeoclinic.projects.v9.bin
/DotNetBackend/ViveksHomoeoClinic/.vs/ProjectEvaluation/vivekshomoeoclinic.strings.v9.bin
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/CopilotIndices/0.2.1653.9816/CodeChunks.db
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/CopilotIndices/0.2.1653.9816/CodeChunks.db-shm
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/CopilotIndices/0.2.1653.9816/CodeChunks.db-wal
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/CopilotIndices/0.2.1653.9816/SemanticSymbols.db
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/2a784b91-069f-41a7-a318-3404d53d25b4.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/454567c9-ad29-4fed-a0c1-b00b3c4d7bb6.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/5ba99ab0-8731-4caa-9199-362a4f876565.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/816b0d26-fbc1-4944-80de-29f759f202cd.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/FileContentIndex/c59ffd5f-41fb-4f28-bf74-20feda3f9e2c.vsidx
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/v17/.futdcache.v2
/DotNetBackend/ViveksHomoeoClinic/.vs/ViveksHomoeoClinic/v17/.suo
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/staticwebassets/msbuild.build.ViveksHomoeoClinic.props
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.ViveksHomoeoClinic.props
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.ViveksHomoeoClinic.props
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.AssemblyInfo.cs
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.AssemblyInfoInputs.cache
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.assets.cache
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.csproj.AssemblyReference.cache
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/Debug/net8.0/ViveksHomoeoClinic.GeneratedMSBuildEditorConfig.editorconfig
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/project.assets.json
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/project.nuget.cache
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/ViveksHomoeoClinic.csproj.nuget.dgspec.json
/DotNetBackend/ViveksHomoeoClinic/ViveksHomoeoClinic/obj/ViveksHomoeoClinic.csproj.nuget.g.props
